---
---
// Knobs
$refWidth: 1440;
$gridCols: 12;
$gutter: 16;
$maxContentWidth: 1200;
$pageMargin: 32;

@function toPx($v) {
    @return #{$v}px;
}

@import 'base';
@import 'bg';
@import 'dev';
@import 'grid';
@import 'padding';
@import 'section';
@import 'width';

section {
    background: silver;
}

.grid-2-col {
    div {
        min-height: 500px;
        background: #fff;
    }
}
