/* columns module: core */
// TODO: consider if this would make more sense renamed to grid. .grid-1, .grid-2, etc.

// any element with a class that starts with "grid-"
.grid,
[class^="grid-"],
[class*=' grid-'] {
  display: grid;
}

.grid-2-col {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-col {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-col {
    grid-template-columns: repeat(4, 1fr);
}

.grid-6-col {
    grid-template-columns: repeat(6, 1fr);
}


.grid-2-col-1-11 {
    grid-template-columns: 1fr 11fr;
}

.grid-2-col-5-7 {
    grid-template-columns: 5fr 7fr;
}
  
.grid-2-col-7-5 {
    grid-template-columns: 7fr 5fr;
}


// @include media-mobile-only {
//   .grid-2-col,
//   .grid-2-col-5-7,
//   .grid-2-col-7-5,
//   .grid-3-col,
//   .grid-4-col {
//     grid-template-columns: 1fr;
//   }
// }

.grid-no-stretch {
    align-items: flex-start;
}

.grid-vertically-center-children > * {
    align-self: center;
    justify-self: center;
}
