.padding-default {
    padding: toPx($gutter);    
}

@container section (min-width: #{toPx($media-breakpoint-tablet-portrait)}) {
    .padding-default {
        padding: toPx($pageMargin);    
    }
}

.padding-dynamic {
    box-sizing: border-box;
    padding: $paddingDynamic;
}
