<div id="dev-guide">
    <div id="dev-guide__grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<button id="dev-guideToggle">Guides</div>
<script>
    const guide = document.querySelector('#dev-guide');
    const guideToggle = document.querySelector('#dev-guideToggle');

    guideToggle.addEventListener('click', () => {
        if (guide.style.display === 'none') {
            guide.style.display = 'block';
        } else {
            guide.style.display = 'none';
        }
    });
</script>
