<div id="guide">
    <div id="guide__grid">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<button id="guide-toggle">Guides</div>
<script>
    const guide = document.querySelector('#guide');
    const guideToggle = document.querySelector('#guide-toggle');

    guideToggle.addEventListener('click', () => {
        if (guide.style.display === 'none') {
            guide.style.display = 'block';
        } else {
            guide.style.display = 'none';
        }
    });
</script>
